# Azure key vault for Exports
EXPORT_AZ_CLIENT_ID=
EXPORT_AZ_CLIENT_PASSWORD=
EXPORT_AZ_TENANT_ID=
EXPORT_AZ_KEY_VAULT_NAME=

# Azure key vault for the hasher API
HASHER_API_AZ_CLIENT_ID=
HASHER_API_AZ_CLIENT_PASSWORD=
HASHER_API_AZ_TENANT_ID=
HASHER_API_AZ_KEY_VAULT_NAME=
