# Keep out of production
.env
local.env
pixl_config.yml
.secrets.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IntelliJ
.idea/

# MacOS specific.
.DS_Store

# Vim
*.swp

# VS Code
.vscode

# project specific files
/projects/exports/
**/test_producer.csv
/test/dummy-services/ftp-server/mounts/data/*
rabbitmq/rabbit@queue-host-feature_flags
rabbitmq/rabbit@queue-host.pid
rabbitmq/rabbit@queue-host/cluster_nodes.config
rabbitmq/rabbit@queue-host/node-type.txt
rabbitmq/rabbit@queue-host/nodes_running_at_shutdown
rabbitmq/rabbit@queue-host/rabbit_durable_exchange.DCD
rabbitmq/rabbit@queue-host/rabbit_durable_queue.DCD
rabbitmq/rabbit@queue-host/rabbit_durable_queue.DCL
rabbitmq/rabbit@queue-host/rabbit_durable_route.DCD
rabbitmq/rabbit@queue-host/rabbit_runtime_parameters.DCD
rabbitmq/rabbit@queue-host/rabbit_serial
rabbitmq/rabbit@queue-host/rabbit_topic_permission.DCD
rabbitmq/rabbit@queue-host/rabbit_user_permission.DCD
rabbitmq/rabbit@queue-host/rabbit_user.DCD
rabbitmq/rabbit@queue-host/rabbit_vhost.DCD
rabbitmq/rabbit@queue-host/schema.DAT
rabbitmq/rabbit@queue-host/coordination/rabbit@queue-host/00000014.wal
rabbitmq/rabbit@queue-host/coordination/rabbit@queue-host/meta.dets
rabbitmq/rabbit@queue-host/coordination/rabbit@queue-host/names.dets
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/2O2BLZYQRWOI2YIXIJBJMYN52/.queue_name
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/2O2BLZYQRWOI2YIXIJBJMYN52/0.idx
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/2O2BLZYQRWOI2YIXIJBJMYN52/journal.jif
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/E1GS1SEZ76RNPDOBHA6BU4I7K/.queue_name
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/E1GS1SEZ76RNPDOBHA6BU4I7K/0.idx
rabbitmq/rabbit@queue-host/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/E1GS1SEZ76RNPDOBHA6BU4I7K/journal.jif
rabbitmq/rabbit@queue-host/quorum/rabbit@queue-host/00000014.wal
rabbitmq/rabbit@queue-host/quorum/rabbit@queue-host/meta.dets
rabbitmq/rabbit@queue-host/quorum/rabbit@queue-host/names.dets
