rabbitmq:
  host:
  port:
  username:
  password:
ehr_api:
  host:
  port:
  default_rate: 5  # ~queries per second
imaging_api:
  host:
  port:
  default_rate: 0.1  # queries per second
postgres:
  host:
  port:
  username:
  password:
  database:
